
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 50%;
    text-shadow:
    1px 1px 0px white,
    -1px 1px 0px white,
    1px -1px 0px white,
    -1px -1px 0px white;
}

ul {
    margin: 0px;
}

body > header {
    background-color: black;
    color: palevioletred;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 10px;
    margin: 10px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid palevioletred;
    border-radius: 10%;
}

body > main article {
    width: 60%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: black;
    display: flex;
}

img {
    border-radius: 100%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div>li {
    color:white}

#footer-ul > div > li > a {
    color: palevioletred;
    text-decoration: none;
}

body > footer h2 {
    color: white; }